In [25]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns

import nltk
import spacy
from spacy.tokens import DocBin
from tqdm import tqdm
import json
from spacy.util import filter_spans

In [26]:
# Define the path to the training data file
train_file="data/annotations.json"

# Load the training data from the JSON file
with open(train_file) as f:
    data = json.load(f)

# Extract the relevant columns from the DataFrame
intent_df = pd.DataFrame(data)
intent_df['annotations']
intent_df = intent_df.join(intent_df['annotations'].apply(pd.Series))


intent_df.rename(columns={1: 'entities'}, inplace=True)
intent_df.rename(columns={0: 'pattern'}, inplace=True)

# Drop the unneccessary column
intent_df.drop(columns=['annotations'], inplace=True)

In [27]:
# Define a function to extract entities from the 'entities' column
def extract_entities(entities):
    if isinstance(entities, dict) :
        return [tuple(entity) for entity in entities['entities']]
    return np.nan

# Apply the function to extract entities
intent_df['entities'] = intent_df['entities'].apply(extract_entities)

# Drop rows with missing entities
intent_df=intent_df.dropna()

In [28]:
training_data=intent_df
training_data

,pattern,entities
0,Can you provide details for InvoiceNo 536365?,"[(28, 37, VARIABLE), (38, 44, VALUE)]"
1,What items were purchased with InvoiceNo 536365?,"[(31, 40, VARIABLE), (41, 47, VALUE)]"
2,I need information about transaction InvoiceNo...,"[(37, 46, VARIABLE), (47, 53, VALUE)]"
3,"Details for InvoiceNo 536365, please?","[(12, 21, VARIABLE), (22, 28, VALUE)]"
4,What can you tell me about InvoiceNo 536365?,"[(27, 36, VARIABLE), (37, 43, VALUE)]"
...,...,...
233,Show distribution of product prices using a hi...,"[(21, 35, VARIABLE), (44, 53, VISUALIZATION)]"
234,Create a histogram illustrating distribution o...,"[(9, 18, VISUALIZATION), (48, 59, VARIABLE)]"
235,Generate a histogram showing distribution of w...,"[(11, 20, VISUALIZATION), (45, 60, VARIABLE)]"
236,Generate a heatmap depicting regional sales pe...,"[(11, 18, VISUALIZATION), (29, 37, VARIABLE), ..."
237,Show distribution of customer complaints using...,[]

In [29]:
# Create a blank spaCy model
nlp = spacy.blank("en")

# Create a DocBin object to store the training data
doc_bin = DocBin()

In [30]:
# Iterate over the training data and create spaCy documents
for index, training_example in tqdm(intent_df.iterrows(), total=intent_df.shape[0]):
    text = training_example['pattern']
    labels = training_example['entities']
    doc = nlp.make_doc(text)
    ents = []
    for start, end, label in labels:
        span = doc.char_span(start, end, label=label, alignment_mode="contract")
        if span is None:
            print("Skipping entity")
        else:
            ents.append(span)
    filtered_ents = filter_spans(ents)
    doc.set_ents(filtered_ents)
    doc_bin.add(doc)
#  Save the training data to a file
doc_bin.to_disk("ner_model/train.spacy")

100%|██████████| 167/167 [00:00<00:00, 2979.67it/s]

Skipping entity
Skipping entity
Skipping entity
Skipping entity
Skipping entity
Skipping entity
Skipping entity
Skipping entity

In [31]:
# Initialize a spaCy config file
! python -m spacy init config ./ner_model/config.cfg --lang en --pipeline ner --optimize efficiency

# Train the spaCy model
! python -m spacy train ./ner_model/config.cfg --output ./ner_model/ --paths.train ./ner_model/train.spacy --paths.dev ./ner_model/train.spacy

✘ The provided output file already exists. To force overwriting the
config file, set the --force or -F flag.

ℹ Saving to output directory: ner_model
ℹ Using CPU

=========================== Initializing pipeline ===========================
✔ Initialized pipeline

============================= Training pipeline =============================
ℹ Pipeline: ['tok2vec', 'ner']
ℹ Initial learn rate: 0.001
E    #       LOSS TOK2VEC  LOSS NER  ENTS_F  ENTS_P  ENTS_R  SCORE
---  ------  ------------  --------  ------  ------  ------  ------
  0       0          0.00     65.73    0.00    0.00    0.00    0.00
 12     200        111.24   2396.24   96.62   96.15   97.09    0.97
 28     400         83.90    319.62   97.71   98.68   96.76    0.98
 47     600        106.49    288.72   98.55   98.39   98.71    0.99
 70     800        136.80    243.50   98.70   99.02   98.38    0.99
 98    1000        101.75    245.69   98.71   98.71   98.71    0.99
133    1200         85.02    279.14   98.71   98.71   98.71    0.99
175    1400         95.22    328.02   98.70   99.02   98.38    0.99
225    1600         84.92    354.50   98.71   98.39   99.03    0.99
289    1800         87.01    408.25   98.70   99.02   98.38    0.99
355    2000         86.80    363.06   99.03   99.03   99.03    0.99
453    2200         67.83    467.24   99.03   98.71   99.35    0.99
553    2400         50.24    463.14   99.03   99.03   99.03    0.99
653    2600         51.62    465.11   99.03   99.35   98.71    0.99
753    2800         34.91    467.01   99.03   99.03   99.03    0.99
853    3000         48.94    464.51   99.03   98.71   99.35    0.99
953    3200         36.87    450.26   99.03   98.71   99.35    0.99
1053    3400         41.76    442.57   99.03   99.03   99.03    0.99
1153    3600         73.76    462.01   99.03   99.03   99.03    0.99
1253    3800         57.70    454.66   99.03   98.71   99.35    0.99
✔ Saved pipeline to output directory
ner_model/model-last

In [33]:
# Load the trained spaCy model
nlp_trained_model = spacy.load("ner_model/model-best")

In [34]:
# Create a spaCy document from the input text
doc = nlp_trained_model('''
Please show me a scatter plot of country and product type.
Give me details of Invoice number  1234534
''')

In [35]:
# Visualize the entities in the document
spacy.displacy.render(doc, style="ent", jupyter=True)